<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>PureSound</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icon.ico">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/musico-master/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/musico-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/musico-master/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/musico-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/musico-master/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/musico-master/css/nice-select.css">
    <link rel="stylesheet" href="~/css/musico-master/css/audioplayer.css">
    <link rel="stylesheet" href="~/css/musico-master/css/flaticon.css">
    <link rel="stylesheet" href="~/css/musico-master/css/gijgo.css">
    <link rel="stylesheet" href="~/css/musico-master/css/animate.css">
    <link rel="stylesheet" href="~/css/musico-master/css/slick.css">
    <link rel="stylesheet" href="~/css/musico-master/css/slicknav.css">
    <link rel="stylesheet" href="~/css/musico-master/css/style.css">
    <link rel="stylesheet" href="~/css/musico-master/css/responsive.css">
</head>
<body>
    <form>
        <header>
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area">
                    <div class="container-fluid">
                        <div class="header_bottom_border">
                            <div class="row align-items-center">
                                <div class="col-xl-3 col-lg-2">
                                    <div class="logo">
                                        <a asp-controller="Home" asp-action="Index">
                                            <img src="~/img/logo.png" style="height:40px; width:150px">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-7">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a asp-controller="Blog" asp-action="Index">blog</a></li>
                                                <li>
                                                    <a href="#">pages <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a href="Artists.cshtml">Artists</a></li>
                                                        <li><a href="Albums.cshtml">Albums</a></li>
                                                        <li><a href="Tracks.cshtml">Tracks</a></li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <a href="#"> Profile <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        @if (!User.Identity!.IsAuthenticated)
                                                        {
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="MyProfile">My Profile</a></li>
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                    <div class="social_icon">
                                        <ul>
                                            <li><a href="https://www.facebook.com/profile.php?id=100007847444057&locale=bg_BG"> <i class="fa fa-facebook"></i> </a></li>
                                            <li><a href="https://www.instagram.com/hadzhinho/"> <i class="fa fa-instagram"></i> </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
    </form>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                About
                            </h3>
                            <p class="sub_text">PureSound is a school project which targets music listeners and people interested in the sphere.</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-md-5 offset-xl-1">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Contact Me
                            </h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        etaleksander411@gmail.com
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        +359 89 53 40 446
                                    </a>
                                </li>
                            </ul>
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/profile.php?id=100007847444057&locale=bg_BG">
                                            <i class=" fa fa-facebook "></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/hadzhinho/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-7 col-md-6">
                        <p class="copy_right">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                        </p>
                    </div>
                    <div class="col-xl-5 col-md-6">
                        <div class="footer_links">
                            <ul>
                                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                                <li><a href="#">tracks</a></li>
                                <li><a href="#">albums</a></li>
                                <li><a href="#">artists</a></li>
                                <li><a href="#">blog</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->
    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/audioplayer.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>
    <script src="js/slick.min.js"></script>
    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>

    <script>
        $(function () {
            $('audio').audioPlayer({

            });
        });
    </script>
</body>
</html>
