<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="~/img/icon.ico">
    <!--===============================================================================================-->
</head>
<body>
    <form>
        <header>
            <div class="header-area ">
                <div id="sticky-header" class="main-header-area">
                    <div class="container-fluid">
                        <div class="header_bottom_border">
                            <div class="row align-items-center">
                                <div class="col-xl-3 col-lg-2">
                                    <div class="logo">
                                        <a asp-controller="Home" asp-action="Index">
                                            <img src="~/img/logo.png" style="height:40px; width:160px">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-xl-6 col-lg-7">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a asp-controller="Blog" asp-action="Index">blog</a></li>
                                                @if (this.User.Identity!.IsAuthenticated)
                                                {
                                                    <li>
                                                        <a href="#">pages <i class="ti-angle-down"></i></a>
                                                        <ul class="submenu">
                                                            <li><a asp-controller="Artists" asp-action="Artists">Artists</a></li>
                                                            <li><a asp-controller="Tracks" asp-action="Tracks">Tracks</a></li>
                                                        </ul>
                                                    </li>
                                                }
                                                <li>
                                                    <a href="#"> Profile <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        @if (!User.Identity!.IsAuthenticated)
                                                        {
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                                                        }
                                                        else
                                                        {
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="MyProfile">My Profile</a></li>
                                                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a></li>
                                                        }
                                                    </ul>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                    <div class="social_icon">
                                        <ul>
                                            <li><a href="https://www.facebook.com/profile.php?id=100007847444057&locale=bg_BG"> <i class="fa fa-facebook" style="margin-top:10px"></i> </a></li>
                                            <li><a href="https://www.instagram.com/hadzhinho/"> <i class="fa fa-instagram" style="margin-top:10px"></i> </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="mobile_menu d-block d-lg-none"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </header>
    </form>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
            @RenderSection("Scripts", true)
        </main>
    </div>
</body>
</html>