@model PureSound.Models.Account.RegisterVM
@{
    Layout = "_LoginLayout";
}
<title>Register</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/css/util.css">
<link rel="stylesheet" type="text/css" href="~/css/Login_v16/css/main.css">
<!--===============================================================================================-->

<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="~/img/icon.ico">
<!-- Place favicon.ico in the root directory -->
<!-- CSS here -->
<link rel="stylesheet" href="~/css/musico-master/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/magnific-popup.css">
<link rel="stylesheet" href="~/css/musico-master/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/musico-master/css/themify-icons.css">
<link rel="stylesheet" href="~/css/musico-master/css/nice-select.css">
<link rel="stylesheet" href="~/css/musico-master/css/audioplayer.css">
<link rel="stylesheet" href="~/css/musico-master/css/flaticon.css">
<link rel="stylesheet" href="~/css/musico-master/css/gijgo.css">
<link rel="stylesheet" href="~/css/musico-master/css/animate.css">
<link rel="stylesheet" href="~/css/musico-master/css/slick.css">
<link rel="stylesheet" href="~/css/musico-master/css/slicknav.css">
<link rel="stylesheet" href="~/css/musico-master/css/style.css">
<link rel="stylesheet" href="~/css/musico-master/css/responsive.css">

<div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('slider_bg_1 overlay2');">
            <div class="wrap-login100 p-t-30 p-b-50"><br /><br />
                <span class="login100-form-title p-b-41">
                    Register
                </span>
                <form class="login100-form validate-form p-b-33 p-t-5" id="account" method="post" asp-action="Register">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        <input asp-for="UserName" class="input100" placeholder="User name" required>
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter email">
                        <input asp-for="Email" class="input100" placeholder="Email" type="email" required>
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        <input asp-for="Password" class="input100" placeholder="Password" type="password" required>
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Confirm password">
                        <input asp-for="ConfirmPassword" class="input100" placeholder="Confirm Password" type="password" required>
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Preffered Genre">
                        <label class="form-label" style="position:center">Preffered Genre</label>
                        <select asp-for="GenreId" asp-items="@ViewBag.GenreId" class="input100" placeholder="Preffered Genre" required></select>
                        <span class="focus-input100"></span>
                        <span asp-validation-for="GenreId" class="text-danger"></span>
                    </div>
                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" type="submit">
                            Register
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/daterangepicker/moment.min.js"></script>
<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}